html,body{
    padding:0;
    margin:0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.app-bar{
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    min-height: 64px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-shrink: 0;
    position: relative;
    background-color: #1976d2;
    color: #fff;
    align-items: center;
}
h1.app-bar-title{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    color: inherit;
    flex-shrink: 0;

}
.app-bar-icon{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;
    margin-right: 16px;
}

main{
    padding: 48px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.app-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.app-box-result{
    min-height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.app-box{
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-top: 64px;
    padding-bottom: 48px;
}
.result-image{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}
.image-upload{
    display: none;
}
.app-box-paper-result{
background-color: #fff;
color: rgba(0, 0, 0, 0.87);
border-radius: 4px;
box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
overflow: hidden;
height: 100%;
display: flex;
flex-direction: column;
}
.app-result-content{
    padding: 16px;
    padding-bottom: 24px;
    flex-grow:1;
}

h2.app-result-title{
font-weight: 400;
font-size: 1.5rem;
line-height: 1.334;
letter-spacing: 0em;
margin-bottom: 0.35em;
}
.app-result-conf-containter{
    display: flex;
}
.app-result-content{
    font-weight: 400;
font-size: 1rem;
line-height: 1.5;
letter-spacing: 0.00938em;
}


.add-image-button{
display: inline-flex;
align-items: center;
justify-content: center;
position: relative;
box-sizing: border-box;
background-color: transparent;
outline: 0;
border: 0;
margin: 0;
border-radius: 0;
padding: 0;
cursor: pointer;
user-select: none;
text-decoration: none;
color: inherit;
font-weight: 500;
font-size: 0.875rem;
line-height: 1.75;
letter-spacing: 0.02857em;
text-transform: uppercase;
min-width: 64px;
padding: 6px 16px;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
color: #fff;
background-color: #1976d2;
box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
.add-image-button:hover{
    text-decoration: none;
background-color: #1565c0;
box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}
.add-image-button-container{
    display: flex;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
padding-top: 32px;
}

footer{
    padding: 48px;
    text-align: center;
    font-weight: 400;
font-size: 1rem;
line-height: 1.75;
letter-spacing: 0.00938em;
text-align: center;
color: rgba(0, 0, 0, 0.6);
}
h6.footer-title{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: center;
    margin-bottom: 0.35em;
}
.footer-copyright{
    font-size: 0.875rem;
line-height: 1.43;
letter-spacing: 0.01071em;
}

